.lng-selector {
    // border: 3px solid red;
  display:inline-block;
  padding-right: 2.8rem;
  height: 3rem;
  cursor: pointer;

  & i {
    color: rgba(0, 0, 0, 0.5);
    font-size:2.8rem;
    transition: all 0.1s ease-in;
    cursor:pointer;

    &:hover {
      color: $secondary-color;
      font-size:3rem;
    }
  }

  &__options {
    border-radius: 10px;
    padding: 1rem;
    transform: translateY(-200%);
    transition: all 0.3s ease-in;
    z-index: -1;
    display:flex;
    flex-direction:column;
    
    &.open{
      transform: translateY(0%);
    }

    & button {
      display:block;
      font-size:$default-font-size;
      background: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;

      &:hover{
         background: rgba(0, 0, 0, 0.2);
         color:$white-color;
      }
    }
   
  }
}
