#nav {
  // border: 3px solid red;
  position: fixed;
  width: 100vw;
  z-index: 3;
  background-color: white;

  .nav-wrapper {
    display: block;

    &__logo {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;

      & img {
        margin: $default-font-size;
        padding: 0 2.8rem;
        height: 3.5rem;
        cursor: pointer;
      }

      @include respond(tab-port-sm) {
        width: 100%;
        float: none;
        border-bottom: 1px solid #e1e1e1;
      }
    }

    &__menu {
      float: right;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // border: 3px solid red;
      list-style: none;
      margin: 0;
      padding: 0;

      @include respond(tab-port-sm) {
        width: 100%;
        float: none;
        display: none;

        &.open {
          display: block;
        }
      }
    }

    &__item {
      & a {
        display: flex;
        justify-content: center;
        color: $dark-blue-text;
        font-size: 2rem;
        text-decoration: none;
        margin: $default-font-size;
        padding: 0 2.8rem;
        transition: all 0.2s ease-in;
        cursor: pointer;
        // border: 3px solid red;

        &:hover {
          transform: translateY(-2px);
        }

        @include respond(tab-port-sm) {
          border-bottom: 1px solid #e1e1e1;
          margin: 0;
          padding: 1rem 3rem;
        }
      }

      @include respond(tab-port-sm) {
        display: block;
        margin: 0;
      }
    }

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      padding: 3.2rem;
      display: none;
      background: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;

      & span {
        font-size: 20px;
        height: 2px;
        width: 20px;
        display: block;
        background-color: $secondary-color;
        position: relative;

        &::before {
          content: "";
          display: block;
          height: 2px;
          width: 20px;
          background-color: $secondary-color;
          position: absolute;
          top: 6px;
          transition: 0.1s transform ease-in-out;
        }
        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 20px;
          background-color: $secondary-color;
          position: absolute;
          top: -6px;
          transition: 0.1s transform ease-in-out;
        }
      }

      @include respond(tab-port-sm) {
        display: block;
      }

      &.open {
        & span {
          &::before {
            //  transform: translate3d(0,-6px,0);
            transform: rotate(45deg) scaleX(0.6) translate(-6px, 2px);
          }
          &::after {
            //  transform: translate3d(0,6px,0);

            transform: rotate(-45deg) scaleX(0.6) translate(-6px, -2px);
          }
        }
      }
    }
  }
  @include respond(tab-port-sm) {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  }
}
